.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App{
  text-align: center;
  font-family: 'Lato', sans-serif;
}

header {
  height: 120px;
  margin: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url('https://media.rbl.ms/image?u=%2Ffiles%2F2016%2F12%2F15%2F636174301728624387-986712616_diverse.jpg&ho=https%3A%2F%2Faz616578.vo.msecnd.net&s=866&h=6604cb4919113bcc6e1f430c8e2928ca66630a14ddb5c23620a382c8d0c66e6d&size=980x&c=752628303');
  background-size: cover;
}

h1 {
  margin: 0px;
}

.search-div{
  height: 45px;
  padding: 5px 0px;
}

input {
  margin: 10px;
  width: 200px;
}

button {
  color: #000000;
  background: #ffffff;
  text-decoration: none;
}

div {
  color: #000;
  text-decoration: none;
}

.navbar-header > .navbar-brand > a:hover {
  color: #FFF;
  text-decoration: none;
}

lu a {
  padding-left: 2em;
  text-align: center;
  color: ##9d9d9d;
}

lu a:hover {
  color: #fff;
}
